@import "../../../Shared/Shared.scss";

DeathInfoModal {
  .container {
    min-width: 400px;
    min-height: 200px;
    padding: 16px;
    font-size: 32px;
  }
  
  .death-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .victim-info {
    color: #ff6666;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .role-info {
    font-weight: bold;
  }

  .killer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
  }
}