@inherits PanelComponent
@namespace Mountain

@if (NameTagOwningPlayer.IsPossessed)
{
    return;
}

<root>
    <div class="card rounded blur">
        <div class="name">@NameTagOwningPlayer.Client.DisplayName</div>
    </div>
</root>