@using System
@inherits PanelComponent
@namespace Mountain

<root>
    @if (NameTagOwningPlayer.Client.IsLocalClient)
    {
        return;
    }

    <div class="card">
        <div class="name">@Name</div>
    </div>
</root>

@code{
    [Property]
    public string Name { get; set; } = string.Empty;
    private Player NameTagOwningPlayer => this.GetPlayerFromComponent() ?? throw new InvalidOperationException("NameTagPanel must be a child of a player.");

    protected override int BuildHash()
    {
        return HashCode.Combine(Name);
    }
}