@import "../../Shared/Shared.scss";

NameTagPanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .card {
    flex-direction: column;
    background-color: #0008;
    overflow: hidden;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 38px;
      color: #fff;
    }
  }
}